*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('../image/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.loginheader{
    text-align: center;
    margin-bottom: 125px;
    background-color: rgba(0, 119, 255, 0.479);
}

.loginheader img{
    margin-bottom: -15px;
    margin-top: 10px;
}

.loginheader p{
    color: white;
    font-size: 50px;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.loginheader p::after{
    content: '';
    display: block;
    height: 5px;
    background: rgb(0, 183, 255);
    margin: 0 auto;
}

.loginbody form{
    margin: 0 auto;
    width: 300px;
    background:rgba(0, 102, 255, 0.61);
    padding: 75px;
    border: 3px solid white;
    border-radius: 8px;
}

.loginInputsContainer{
    margin-top: 25px;
}

.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid rgb(0, 89, 255);
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
       
}

.loginInputsContainer ::placeholder{
    font-style: italic;
}

.loginbutton{
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
    transition: .5s;
}

.loginbutton button{
    font-size: 25px;
    padding: 5px 50px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    font-family: sans-serif;
    transition: .5s;
    background: rgba(0, 102, 255, 0.582);
}

.loginbutton:hover button{
    background: #fff;
    color: rgb(0, 102, 255);
    transition: .3s;
    transform-origin:bottom;
}

#errorMessage{
    background: #ffffff88;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 11px;
}

#indexreturn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    
}

/*Portal Choosing CSS*/

.adminPort{
    
    display: block;
    border: 1px solid black;
}